In [ ]:
# 1. Reverse a string
string = "hello"
reversed_string = string[::-1]
print(reversed_string)

olleh

In [ ]:
# 2. Count the number of vowels in a string
string = "hello world"
vowel_count = 0
vowels = "aeiouAEIOU"
for char in string:
    if char in vowels:
        vowel_count += 1
print(vowel_count)

3

In [ ]:
# 3. Check if a given string is a palindrome or not
string = "raccar"
is_palindrome = True
for i in range(len(string) // 2):
    if string[i] != string[len(string) - i - 1]:
        is_palindrome = False
        break
print(is_palindrome)

True

In [ ]:
# 4. Check if two given strings are anagrams of each other
string1 = "listen"
string2 = "silent"
if set(string1) == set(string2):
    print("Anagrams")
else:
    print("Not anagrams")

Anagrams

In [ ]:
# 5. Find all occurrences of a given substring within another string
string = "hello world, hello again again"
substring = "again"
occurrences = []
for i in range(len(string) - len(substring) + 1):
    if string[i:i+len(substring)] == substring:
        occurrences.append(i)
print(occurrences)

[19, 25]

In [ ]:
# 6. Perform basic string compression using the counts of repeated characters
string = "aaabbccc"
compressed_string = ""
count = 1
for i in range(1, len(string)):
    if string[i] == string[i-1]:
        count += 1
    else:
        compressed_string += string[i-1] + str(count)
        count = 1
compressed_string += string[-1] + str(count)

print(compressed_string)

a3b2c3

In [ ]:
# 7. Determine if a string has all unique characters
string = "hello"
unique_chars = set(string)
if len(string) == len(unique_chars):
    print("All characters are unique")
else:
    print("Some characters are repeated")

Some characters are repeated

In [ ]:
# 8. Convert a given string to uppercase or lowercase
string = "hello world"
uppercase_string = string.upper()
lowercase_string = string.lower()
print(uppercase_string)
print(lowercase_string)

HELLO WORLD
hello world

In [ ]:
# 9. Count the number of words in a string
string = "hi this is new aspiring software engineer"
a = string.split()
count = 0
print(len(a))

7

In [ ]:
#10. Concatenate two strings without using the + operator
string1 = ("pw Skills")
string2 = ("Data science")
#addition = string1 + string2
print(f"{string1} {string2}")

pw Skills Data science

In [ ]:
#11. Remove all occurrences of a specific element from a list
my_list = [1, 2, 3, 2, 4, 2]
new_list = set(my_list)
print(new_list)

{1, 2, 3, 4}

In [ ]:
# 12. Implement a code to find the second largest number in a given list of integers
numbers = [ 45, 67, 34,5,15]
#largest = numbers[0]
#second_largest = numbers[0]
second_largest_no = 0
a = sorted(numbers)
b = list(a)
b[-2]

45

In [ ]:
#13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values
occurrence = [1, 2, 3, 5, 2, 3]
count = {}
for i in occurrence:
  if i not in count:
    count[i] = 1
  else:
    count[i] += 1
print(count)

{1: 1, 2: 2, 3: 2, 5: 1}

In [ ]:
# 14. Write a code to reverse a list in-place without using any built-in reverse functions
numbers = [1, 2, 3, 4, 5]
left = 0
right = len(numbers) - 1
while left < right:
    numbers[left], numbers[right] = numbers[right], numbers[left]
    left += 1
    right -= 1
print(numbers)

[5, 4, 3, 2, 1]

In [ ]:
# 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements
x = [1, 2, 3, 4, 2, 4, 6, 7, 8, 5]
a = set(x)
print(a)
def remove_duplicates(x):
    seen = set()
    result = []

    for item in x:
        if item not in seen:
            seen.add(item)
            result.append(item)

    return result

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not
y = [1, 2, 3, 4, 5]
a = sorted(y)
if a == y:
  print("True")
else:
  print("False")

True

In [ ]:
#17. write a code to merge two sorted list to one single sorted list
a = [1, 6, 8, 7, 8]
b = [3, 3, 5, 2, 9]
sorted_list = sorted(a)+sorted(b)
print(sorted(sorted_list))

[1, 2, 3, 3, 5, 6, 7, 8, 8, 9]

In [ ]:
#18. write a code to find intersection of two given list
a = [1, 5, 8, 7, 8]
b = [3, 3, 5, 2, 9]
c = set(a)- set(b)#print(a.intersection(b))
print(c)

{8, 1, 7}

In [ ]:
#19. code to find union of two lists without duplicates
a = [1, 5, 8, 7, 8]
b = [3, 3, 5, 2, 9]
union_set = set(set(a) | set(b))
print(union_set)

{1, 2, 3, 5, 7, 8, 9}

In [ ]:
#20. code to shuffle the given list randomly without using built-in function
import random
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
for i in range(length - 1, 0, -1):
    j = random.randint(0, i)
    my_list[i], my_list[j] = my_list[j], my_list[i]

print(f"Shuffled list: {my_list}")

Shuffled list: [1, 3, 2, 4, 5]

In [ ]:
#21. write a code to take two tuples as input and return a new tuple containing elements that are common to both input tuples
a = (1, 2, 3, 4, 5)#int(input("Enter the 1st tuple"))
b = (3, 4, 5, 6, 7)#int(input("Enter the 2nd tuple"))
c = set(a).intersection(set(b))
print(c)

{3, 4, 5}

In [ ]:
#22. Code that prompts the user to enter two sets of integers separated by commas. then print intersection of these two sets
a = input("Enter the 1st set")
b = input("Enter the 2nd set")
set1 = set(map(int, a.split(",")))
set2 = set(map(int, b.split(",")))
intersection_of_sets = (set1).intersection(set2)
print(intersection_of_sets)

Enter the 1st set2, 3, 4, 5, 6
Enter the 2nd set4, 5, 6, 7, 7
{4, 5, 6}

In [ ]:
#23. Code to concatinate two tuples. the function should take two tuples as input and return a new tuple containing elements from input tuples
a = input("Enter tuple 1")
b = input("Enter tuple 2")
#print(set((a)).union(set(b)))
tup1 = tuple(map(int, a.split(",")))
tup2 = tuple(map(int, b.split(",")))
print(set(tup1).union(set(tup2)))

Enter tuple 12, 3, 5, 6
Enter tuple 24, 3, 5, 6
{2, 3, 4, 5, 6}

In [ ]:
#24. code to print element in 1st set but not in 2nd set
a = input("Enter no 1:")
b = input("Enter no 2:")
#print(set((a)).union(set(b)))
set1 = set(map(int, a.split(",")))
set2 = set(map(int, b.split(",")))
print(set(set1).difference(set(set2)))

Enter no 1:2, 3, 4,5
Enter no 2:3, 6, 7
{2, 4, 5}

In [ ]:
#25. create a code that takes a tuple and two integers as input the function should return a new tuple containing elements from the original tuple within the specified range of indices

a = input("enter the tuple")
tup = tuple(map(int, a.split(",")))
start = int(input("enter the start"))
end = int(input("enter till the range"))
c = tup[start:end]
#print(a)
print(c)

enter the tuple1, 2, 3, 4, 5
enter the range1
enter till the range3
1, 2, 3, 4, 5
(2, 3)

In [7]:
#26. Write a code that prompts the user to input two sets of characters. then print the union of these two sets
first_input_set = input("Enter the 1st set: ")
second_input_set= input("Enter the 2nd set: ")
set1 = set(first_input_set.split(","))
set2 = set(second_input_set.split(","))
print((set1).union(set2))

Enter the 1st set: a, s, e, f
Enter the 2nd set: f, a, h, m
{' e', 'f', ' s', ' m', ' a', 'a', ' f', ' h'}

In [36]:
#27. Develop a code that takes a tuple as input. the function should return the maximum and minimum values from the tuple using unpacking
enter_tup = input("Enter the tuple")
tup = tuple(map(int, enter_tup.split(",")))
print(tup)
max = tup[0]
min = tup[0]
for num in tup:
  print(num)
  if num >= max:
    max = num
  if num <= min:
    min = num
print(f" maximum value is {max} | miniumim is {min}")

Enter the tuple1, 2, 3, 8, 4, 9, 45
(1, 2, 3, 8, 4, 9, 45)
1
2
3
8
4
9
45
 maximum value is 45 | miniumim is 1

In [6]:
#28. create a code to define two set of integer and print its union, intersection and difference of these two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(f"union of two sets is {(set1).union(set2)}")
print(f"intersection of two sets is {(set1).intersection(set2)}")
print(f"difference of two sets is {(set1).difference(set2)}")

union of two sets is {1, 2, 3, 4, 5, 6, 7, 8}
intersection of two sets is {4, 5}
difference of two sets is {1, 2, 3}

In [10]:
#29. Code to take input as tuple and element and return count of occurence of the given element in the tuple
tup = [1, 2, 1, 7, 8, 1, 34, 5]
element = 1
enter_tup = (tuple(tup), element)
print(tup)
count = 1
for elem in tup:
  #print(elem)
  if elem == element:
    count += 1

print(f"element {element} has occured {count} number of times in {tup}")

[1, 2, 1, 7, 8, 1, 34, 5]
element 1 has occured 4 number of times in [1, 2, 1, 7, 8, 1, 34, 5]

In [16]:
# 30. Code that prompts the user to input two sets of strings. then print the symmetric difference of these two sets
set1 = set(input("enter 1st set "))
set2 = set(input("enter 2nd set "))
result = (set1).symmetric_difference(set2)
print(f"symmetric difference is {result}")

enter 1st set2, 4, 5, 3, 5, 7
enter 2nd set6, 3, 5, 8, 9, 2
symmetric difference is {'6', '7', '8', '9', '4'}

In [23]:
# 31. write a code that takes list of words as input snd returns a dictionary where the keys are unique words and the values are the values are the frequencies of those words in the input list
list_items = ['apple', 'mango', 'banana', 'mango', 'apple', 'kivi', 'pineapple']
count_elements = {}
for elem in list_items:
  if elem in count_elements:
    count_elements[elem]+=1
  else:
    count_elements[elem] = 1
print("word frequncy is " , count_elements)

word frequncy is  {'apple': 2, 'mango': 2, 'banana': 1, 'kivi': 1, 'pineapple': 1}

In [33]:
#32. write a code to merge two dictionary into single, if there us common kwys then add values together
dict1 = {'a': 5, 'b': 10, 'c': 15}
dict2 = {'b': 5, 'c': 10, 'd': 20}
merged_key = {}
for key in dict1:
  merged_key[key] = dict1[key]
for key in dict2:
  if key in merged_key:
    merged_key[key] += dict2[key]
  else:
    merged_key[key] = dict2[key]

print(merged_key)

{'a': 5, 'b': 15, 'c': 25, 'd': 20}

In [43]:
# 33. Write a code to access a values ina nested dictionary the function should take the dictionary and a list of keys as a input and retrn the corresponding values. if any of the keys do not exist in the dictionay the function should return none
nested_dict = {'a': {'b': {'c': 42}},'x': {'y': 100}}
keys = ['a', 'b', 'c']
current_key = nested_dict
for key in nested_dict:
  if key in current_key:
    current_key = current_key[key]
  else:
    print(None)
print(current_key)

None
{'b': {'c': 42}}

In [46]:
# 34. write a code that takes a dictionary as input and return a sorted version of it based on the values. you can choose whether to sort in ascending or descending order
dictionary = input("enter the dictionary")
dic = sorted(dictionary)
print(dic)

enter the dictionaryinput_dict = {'apple': 10, 'banana': 2, 'orange': 15, 'grape': 5} order = "ascending"
[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '"', '"', "'", "'", "'", "'", "'", "'", "'", "'", ',', ',', ',', '0', '1', '1', '2', '5', '5', ':', ':', ':', ':', '=', '=', '_', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'b', 'c', 'c', 'd', 'd', 'd', 'e', 'e', 'e', 'e', 'e', 'g', 'g', 'g', 'i', 'i', 'i', 'l', 'n', 'n', 'n', 'n', 'n', 'n', 'o', 'o', 'p', 'p', 'p', 'p', 'r', 'r', 'r', 'r', 's', 't', 't', 'u', '{', '}']

In [7]:
input_dict = {'apple': 10, 'banana': 2, 'orange': 15, 'grape': 5}
order = "ascending"
def sort_dict(input_dict, order):

  items = list(input_dict.items())
  for i in range(len(items)):
    for j in range(i+1, len(items)):
      if (order == "ascending" and items[i][1]>items[j][1]) or (order == "descending" and items[i][1] < items[j][1]):
        items[i], items[j] = items[j], items[i]
print(items)

[('banana', 2), ('grape', 5), ('apple', 10), ('orange', 15)]

In [25]:
# 35. Code that inverts a dictionary swapping keys and values . Ensure that the inverted dictionary correctly handles cases where multiple keys have same value by sorting the keys as a list in the inverted dictionary
input_dict = {'apple': 10, 'banana': 2, 'orange': 15, 'grape': 5, 'jack': 2}
inverted_dict = {}
demo = list(input_dict.items())
# print(demo)
for key, val in demo:
  print(key, val)
  if val not in inverted_dict:
    inverted_dict[val]= [key]
  else:
    inverted_dict[val].append(key)
print(inverted_dict)

apple 10
banana 2
orange 15
grape 5
jack 2
{10: ['apple'], 2: ['banana', 'jack'], 15: ['orange'], 5: ['grape']}